@import "libs";
@import "vars";
@import "fonts";
@import "reset";
@import "flex";
body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	font-family: $default-font;
}

.container {
	width: 100%;
	max-width: $max-container-width;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
}

.button {
	padding: 10px 35px;
	border: 0;
	border-radius: 5px;
	font-family: 'BebasNeue', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	&--dark {
		background: #000;
		color: #ffffff;
	}
	&--light {
		background: #ffc61a;
		color: #000;
	}
	&--big {
		width: 100%;
	}
}

section {
	padding-top: 65px;
	padding-bottom: 65px;
}

.section-text {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	&__title {
		font-size: 44px;
		font-weight: 900;
		line-height: 1.2em;
		@media only screen and (max-width: $sm) {
			font-size: 35px;
		}
		&--light {
			color: #fff;
		}
		&--dark {
			color: #000;
		}
	}
	&__subtitle {
		font-size: 35px;
		font-weight: 900;
		line-height: 1.2em;
		@media only screen and (max-width: $sm) {
			font-size: 35px;
		}
		&--light {
			color: #ffc61a;
		}
		&--dark {
			color: #000;
		}
	}
}

.header {
	padding-top: 75px;
	padding-bottom: 430px;
	font-family: 'Lato', sans-serif;
	background: url("../img/header-bg.png") no-repeat;
	background-size: cover;
	@media only screen and (max-width: $sm) {
		padding-bottom: 75px;
	}
}

.menu {
	position: relative;
	@media only screen and (max-width: $md) {
		position: fixed;
		width: 100%;
		margin-top: -75px;
		padding: 20px 25px;
		background: #000;
		z-index: 100;
	}
	&__list {
		@media only screen and (max-width: $md) {
			display: none;
			position: absolute;
			top: 89px;
			flex-direction: column;
			width: 100%;
			margin-left: -50px;
			background: #000;
		}
	}
	&__item {
		padding: 4px 23px;
		border-radius: 15px;
		transition: 1s all;
		cursor: pointer;
		@media only screen and (max-width: $md) {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		&.active,
		&:hover {
			background-color: #ffc61a;
			.menu__link {
				color: #000;
			}
		}
	}
	&__link {
		font-size: 15px;
		text-transform: uppercase;
		text-decoration: none;
		transition: 1s all;
		color: #fff;
		@media only screen and (max-width: $md) {
			font-size: 20px;
		}
	}
	&__icon {
		display: none;
		@media only screen and (max-width: $md) {
			display: flex;
		}
	}
	&.active {
		border-radius: 15px;
		background-color: #ffc61a;
		.menu__link {
			color: #000;
		}
	}
}

.sticky-menu {
	position: fixed;
	width: 100%;
	margin-top: -75px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #000;
	z-index: 100;
}

.logo {
	letter-spacing: 0.54px;
	text-decoration: none;
	color: #fff;
	&__top {
		font-size: 36px;
		font-weight: 700;
		line-height: 28px;
		span {
			text-transform: uppercase;
			color: #daa505;
		}
	}
	&__bottom {
		margin-top: 10px;
		font-size: 14px;
		font-weight: 700;
		line-height: 11px;
		letter-spacing: 2.4px;
		text-transform: uppercase;
	}
}

.banner {
	position: relative;
	margin-top: 135px;
	@media only screen and (max-width: $sm) {
		margin-top: 95px;
	}
	&__title {
		margin-bottom: 30px;
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		font-weight: 900;
		line-height: 45px;
		text-transform: uppercase;
		color: #ffc61a;
	}
	&__telephone {
		margin-bottom: 30px;
		font-family: 'Lato', sans-serif;
		font-size: 68px;
		font-weight: 900;
		line-height: 60px;
		color: #fff;
		@media only screen and (max-width: $md) {
			font-size: 36px;
			letter-spacing: 3px;
		}
		@media only screen and (max-width: $sm) {
			font-size: 30px;
		}
	}
	&__domain {
		margin-bottom: 30px;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 24.5px;
		text-transform: uppercase;
		color: #fff;
		@media only screen and (max-width: $md) {
			letter-spacing: 6px;
		}
		@media only screen and (max-width: $sm) {
			font-size: 14px;
		}
	}
	&__img {
		position: absolute;
		top: 275px;
		height: auto;
		img {
			width: 100%;
		}
		@media only screen and (max-width: $md) {
			width: 90%;
		}
		@media only screen and (max-width: $sm) {
			display: none;
		}
	}
}

.s-book-now {
	padding-top: 150px;
	padding-bottom: 80px;
	background: #ffc61a;
}

.about {
	flex-basis: 560px;
	&__text {
		font-family: 'Lato', sans-serif;
		color: #101010;
	}
	&__slogan {
		font-size: 32px;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__title {
		margin-top: 10px;
		font-size: 50px;
		font-weight: 900;
		line-height: 60px;
		text-transform: uppercase;
		color: #101010;
	}
	&__description {
		font-size: 18px;
		font-weight: 400;
		line-height: 23px;
		color: #101010;
	}
	&__button {
		margin-top: 40px;
	}
}

.book {
	flex-basis: 422px;
	@media only screen and (max-width: $lg) {
		margin-top: 50px;
	}
	&__title {
		padding: 25px 35px;
		background: #000;
		font-family: 'Lato', sans-serif;
		font-size: 34px;
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
		span {
			color: #ffc61a;
		}
	}
	&__form {
		padding-top: 35px;
		padding-right: 25px;
		padding-bottom: 18px;
		padding-left: 25px;
		background-color: #fff;
	}
	&__inner {
		margin-top: 40px;
		@media only screen and (max-width: $sm) {
			margin-top: 0px;
		}
	}
	&__input {
		width: 170px;
		padding-bottom: 15px;
		border: 0;
		border-bottom: 3px solid #e4e4e4;
		@media only screen and (max-width: $sm) {
			width: 100%;
			margin-top: 20px;
		}
		&--long {
			width: 100%;
		}
	}
	&__input,
	&__input::placeholder {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		font-weight: 700;
		color: #4b4b4b;
	}
	&__button {
		margin-top: 43px;
	}
}

.s-tariffs {
	@media only screen and (max-width: $sm) {
		.container {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

.tariff-cards {
	margin-top: 130px;
	@media only screen and (max-width: $lg) {
		margin-top: 10px;
	}
}

.card {
	position: relative;
	width: 360px;
	padding: 115px 35px 25px 35px;
	background: #f5f4f2;
	@media only screen and (max-width: $lg) {
		margin-top: 150px;
	}
	@media only screen and (max-width: $sm) {
		width: 100%;
	}
	&__img {
		position: absolute;
		top: -90px;
		width: 85%;
		height: auto;
		img {
			width: 100%;
		}
	}
	&__text {
		font-family: 'Lato', sans-serif;
		color: #000;
	}
	&__title {
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__description {
		margin-top: 30px;
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		color: #101010;
	}
	&__cost {
		margin-top: 35px;
		font-size: 44px;
		font-weight: 900;
		text-transform: uppercase;
		color: #ffc61a;
	}
	&__button {
		margin-top: 35px;
	}
	&--active {
		background: #ffc61a;
		.card__cost {
			color: #131313;
		}
	}
}

.s-features {
	background: url("../img/features-bg.jpg") no-repeat;
	background-size: cover;
}

.features {
	margin-top: 80px;
}

.feature {
	&__img {
		width: 80px;
		height: 80px;
		margin-right: 30px;
		border-radius: 50%;
		background: #ffc61a;
		@media only screen and (max-width: $sm) {
			display: none;
		}
	}
	&__text {
		max-width: 365px;
		font-family: 'Lato', sans-serif;
	}
	&__title {
		font-size: 25px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		color: #ffc61a;
	}
	&__description {
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
}

.s-download {
	padding-bottom: 0;
}

.service {
	position: relative;
	&__download {
		margin-top: 100px;
	}
	&__sample {
		position: relative;
		top: 8px;
		margin-top: 70px;
		height: auto;
		img {
			width: 100%;
		}
	}
}

.download {
	flex-basis: 450px;
	&__text {
		font-family: 'Lato', sans-serif;
	}
	&__title {
		font-size: 25px;
		font-weight: 900;
		line-height: 28px;
		color: #000000;
	}
	&__description {
		margin-top: 28px;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		color: #101010;
	}
	&__images {
		margin-top: 67px;
	}
	&__img {
		cursor: pointer;
	}
}

.s-reviews {
	background: url("../img/reviews-bg.jpg") no-repeat;
	background-size: cover;
	.reviews-slider {
		margin-top: 105px;
		max-width: 100%;
		.slick-list {
			.slick-track {
				.slick-slide {
					display: flex;
					flex-direction: column;
					//align-items: center;
					max-width: 580px;
					p {
						max-width: 100%;
					}
				}
			}
		}
	}
	.reviews-slide {
		margin-right: 30px;
		padding: 50px 40px;
		border-radius: 12px;
		background-color: #040707;
		@media only screen and (max-width: $md) {
			margin-right: 0;
		}
		&__description {
			margin-bottom: 25px;
			font-family: 'Lato', sans-serif;
			font-size: 18px;
			font-weight: 400;
			color: #ffffff;
			@media only screen and (max-width: $md) {
				text-align: center;
			}
		}
	}
	.feature {
		@media only screen and (max-width: $md) {
			justify-content: center;
		}
		&__img {
			max-width: 74px;
			height: auto;
			margin-right: 50px;
			img {
				width: 100%;
				border-radius: 50%;
			}
		}
		&__text {
			text-transform: uppercase;
		}
		&__description {
			margin: 0;
		}
	}
}

.s-call {
	background-color: #ffc61a;
}

.call {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #000000;
	&__slogan {
		font-size: 35px;
		@media only screen and (max-width: $sm) {
			font-size: 17px;
		}
	}
	&__telephone {
		font-size: 77px;
		@media only screen and (max-width: $sm) {
			font-size: 36px;
		}
	}
}

.footer {
	padding-top: 75px;
	padding-bottom: 15px;
	background: #0d0900;
	&__copy {
		margin-top: 120px;
	}
}

.footer-block {
	flex-basis: 340px;
	@media only screen and (max-width: $lg) {
		margin-bottom: 50px;
	}
	&__title {
		margin-bottom: 38px;
		font-family: 'Lato', sans-serif;
		font-size: 25px;
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
	}
	&__divider {
		width: 100%;
		height: 8px;
		background-color: #ffc61a;
	}
	&__description {
		margin-top: 46px;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
	&__socials {
		margin-top: 40px;
	}
	&__social {
		margin-right: 22px;
		&:hover {
			svg {
				fill: #fff;
			}
		}
	}
	&__downloads {
		align-self: flex-start;
		margin-top: 35px;
		@media only screen and (max-width: $md) {
			align-self: center;
		}
	}
	&__download {
		flex: 0 0 auto;
		margin-top: 15px;
		cursor: pointer;
		&:hover {
			&>svg {
				fill: #ffc61a;
			}
		}
	}
	&__download-link {
		margin-right: 30px;
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		text-decoration: none;
		color: #ffc61a;
	}
}

.contacts {
	margin-top: 47px;
	&__item {
		margin-top: 30px;
		font-family: 'Times New Roman PSMT', serif;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}
	&__img {
		width: 18px;
		margin-right: 25px;
	}
	&__text {
		word-break: break-all;
	}
}

.copy {
	font-family: 'Times New Roman PSMT', serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff;
	@media only screen and (max-width: $md) {
		margin-top: 10px;
	}
}
